/*   LIMPIEZA DEL LIENZA   */
* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*   LAYOUT MOBILE FIRST   */
body {
    background-color: #fff;
}

.wrap-main {
    display: grid;
    height: 100svh;
    grid-template-rows: 1fr 1fr 9fr 1fr;
    grid-template-areas:
        "nav"
        "aside"
        "main"
        "footer";
}

nav {
    grid-area: nav;
    background-color: #3e7af3;
    padding: 10px;
    color: white;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.title-menu h4 {
    margin-left: 10px;
}

.icon-menu {
    margin-top: 5px;
}

/**************************************/

aside {
    grid-area: aside;
    background-color: rgb(220, 217, 215);
    padding: 10px;
    color: rgb(71, 69, 69);
    text-align: center;
}

.combo-orderby {
    position: relative;
    font-family: Arial;
    font-size: 15px;
}

.select-orderby {
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #6a6969;
}

/***************************************/

main {
    grid-area: main;
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
}

footer {
    grid-area: footer;
    background-color: #1d387d;
    padding: 5px;
    color: white;
}

.miFooter {
    display: flex;
    flex-direction: column;
    font-size: small;
    text-align: center;
    margin: 5px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.copy-right {
    margin-top: 15px;
}

/***********************************/

.gallery {
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
}

.cards {
    /*border: 1px solid black;*/
    box-shadow: 5px 5px 15px #9c9b9b;
    object-fit: contain;
    margin: 6px;
}

.cards-img {
    /*border: 1px solid black;*/
    padding: 10px;
    text-align: center;
}

.cards-body {
    /*border: 1px solid black;*/
    text-align: center;
}

.description {
    /*border: 1px solid black;*/
    padding: 5px;
}

.cards-btn {
    /*border: 1px solid black;*/
    padding: 5px;
    text-align: center;
}

.btn-details {
    background-color: #3e7af3;
    color: white;
    border-radius: 5px;
    border-style: none;
    height: 30px;
    width: 100px;

}

/*   -----   MediaQueries   -----   */

/*      DISPOSITIVOS TABLET -- Pantallas menos de 576 pixeles       */
@media (min-width: 576px) {
    .wrap-main {
        grid-template-areas:
            "nav nav"
            "aside main"
            "aside main"
            "footer footer";
        grid-template-columns: 1fr 5fr;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
    }

    .icon-menu {
        display: none;
    }

    .gallery {
        display: grid;
        grid-template-columns: auto auto;
        margin: 10px;
    }

}

/*      DISPOSITIVOS DESKTOP -- Pantallas menos de 992 pixeles      */
@media (min-width: 992px) {
    .wrap-main {
        grid-template-rows: 1fr 1fr 8fr 2fr;
        grid-template-areas:
            "nav aside"
            "nav main"
            "nav main"
            "footer main";
        grid-template-columns: 1fr 5fr;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
    }

    .title-menu h4 {
        /*margin-left: 10px;*/
        font-size: xx-small;
    }

    .gallery {
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 10px;
    }
}