/*   LIMPIEZA DEL LIENZA   */
* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*   LAYOUT MOBILE FIRST   */
body {
    background-color: #fff;
}

.wrap-main {
    display: grid;
    height: 100svh;
    grid-template-rows: 1fr 1fr 8fr 1fr 1fr;
    grid-template-areas:
        "nav"
        "aside"
        "main"
        "paginador"
        "footer";
}

/***********************************/

nav {
    /*border: 1px solid rgb(255, 0, 0);*/
    grid-area: nav;
    background-color: #3e7af3;
    padding: 5px;
    color: white;
}

.menu {
    /*border: 1px solid rgb(35, 244, 91);*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-menu {
    /*border: 1px solid rgb(204, 14, 14);*/
    display: flex;
    justify-content: left;
    align-content: center;
    margin: 5px;
    width: 100%;
}

.title-menu h4 {
    margin-left: 10px;
    align-content: center;
}

.icon-menu {
    margin-top: 10px;
}

.opciones {
    /*border: 1px solid rgb(222, 6, 6);*/
    display: flex;
    margin: 5px;
    font-size: 12px;
    justify-content: end;
    align-items: center;
    display: none;
}

.opciones a {
    /*border: 1px solid white;*/
    text-decoration: none;
    color: white;
    padding: 4px;
}

/**************************************/

aside {
    grid-area: aside;
    background-color: rgb(220, 217, 215);
    padding: 10px;
    color: rgb(71, 69, 69);
    text-align: center;
}

.combo-orderby {
    position: relative;
    font-family: Arial;
    font-size: 15px;
}

.select-orderby {
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #6a6969;
    margin-top: 5px;
}

/***************************************/

main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    height: 95%;
    /* lo dejo en 95% para dejar espacio al paginador */
    overflow-y: auto;
}

footer {
    grid-area: footer;
    background-color: #1d387d;
    padding: 5px;
    color: white;
}

.miFooter {
    display: flex;
    flex-direction: column;
    font-size: small;
    text-align: center;
    margin: 5px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.copy-right {
    margin-top: 15px;
}

/***********************************/

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 10px;
}

/************************** 
******** PAGINADOR ********
**************************/

.paginador {
    /*border: 1px solid black;*/
    grid-area: paginador;
    display: grid;
    grid-template-columns: auto;
    width: 96%;
    padding-left: 10px;
    padding-right: 10px;
}

.paginas {
    /*border: 1px solid black;*/
    padding: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 15px #9c9b9b;
    color: #3e7af3;
}

.f-izq {
    border: 1px solid rgb(167, 164, 164);
}

.uno {
    border: 1px solid rgb(167, 164, 164);
    text-align: center;
    align-content: center;
    width: 2rem;
}

.dos {
    border: 1px solid rgb(167, 164, 164);
    text-align: center;
    align-content: center;
    width: 2rem;
}

.tres {
    border: 1px solid rgb(167, 164, 164);
    text-align: center;
    align-content: center;
    width: 2rem;
}

.f-der {
    border: 1px solid rgb(167, 164, 164);
}

/******************************************/

.cards {
    /*border: 1px solid black;*/
    box-shadow: 5px 5px 15px #9c9b9b;
    object-fit: contain;
    margin: 6px;
}

.cards-img {
    /*border: 1px solid black;*/
    padding: 10px;
    text-align: center;
}

.cards-body {
    /*border: 1px solid black;*/
    text-align: center;
}

.description {
    /*border: 1px solid black;*/
    padding: 5px;
}

.cards-btn {
    /*border: 1px solid black;*/
    padding: 5px;
    text-align: center;
}

.btn-details {
    background-color: #3e7af3;
    color: white;
    border-radius: 5px;
    border-style: none;
    height: 30px;
    width: 100px;

}




/************************************
**   -----   MediaQueries   -----  ** 
************************************/


/*      DISPOSITIVOS TABLET -- Pantallas menos de 576 pixeles       */
@media (min-width: 576px) {
    .wrap-main {
        grid-template-rows: 1fr 1fr 8fr 1fr 1fr;
        grid-template-areas:
            "nav nav"
            "aside main"
            "aside main"
            "aside paginador"
            "footer footer";
        /* grid-template-columns: 1fr auto; */
    }

    main {
        grid-template-columns: repeat(2, 1fr);
    }

    .icon-menu {
        display: none;
    }

    .gallery {
        /*border: 1px solid black;*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }

    .paginador {
        width: 97%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .title-menu {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        font-size: 12px;
    }

    .opciones {
        display: flex;
        justify-content: end;
        width: 100%;
    }

    .opciones a {
        margin-right: 40px;
    }

}

/*      DISPOSITIVOS DESKTOP -- Pantallas menos de 992 pixeles      */
@media (min-width: 992px) {
    .wrap-main {
        grid-template-rows: 1fr 1fr 8fr 1fr 1fr;
        grid-template-areas:
            "nav aside aside"
            "nav main main"
            "nav main main"
            "nav main main"
            "footer paginador paginador";
        /*grid-template-columns: 1fr 5fr;*/
    }

    main {
        grid-template-columns: repeat(3, 1fr);
    }

    .material-symbols-outlined {
        /*border: 1px solid white;*/
        align-content: center;
    }

    .title-menu {
        /*border: 1px solid black;*/
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .title-menu h4 {
        align-content: center;
        font-size: x-small;
    }

    .gallery {
        /*border: 1px solid black;*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        margin: 5px;
    }

    .paginador {
        width: 98%;
        padding: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .paginas {
        height: 25px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 210px;
    }

    .title-menu {
        width: 200px;
    }

    .opciones {
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        width: 200px;
    }

    .opciones a {
        justify-content: center;
        align-content: center;
        margin-top: 10px;
        margin-left: 50px;
        height: 20px;
    }
}