/*   LIMPIEZA DEL LIENZA   */
* {
    margin: 0px;
    padding: 0px;
}

/*   LAYOUT MOBILE FIRST   */
body {
    background-color: #fff;
}

.wrap-main {
    display: grid;
    height: 100svh;
    grid-template-rows: 1fr 1fr 9fr 1fr;
    grid-template-areas:
        "nav"
        "aside"
        "main"
        "footer";
}

nav {
    grid-area: nav;
    background-color: #3e7af3;
    padding: 10px;
    color: white;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-menu {
    display: flex;
    justify-content: space-between;
}

.title-menu h4 {
    margin-left: 10px;
}


/**************************************/

aside {
    grid-area: aside;
    background-color: coral;
    padding: 10px;
    color: white;
}

.combo-orderby {
    position: relative;
    font-family: Arial;
    width: 400px;

}

.combo-orderby select {
    /*display: none; */
    /*oculta el formato original del combo*/
}

.select-selected {
    background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}



/***************************************/


main {
    grid-area: main;
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
}

footer {
    grid-area: footer;
    background-color: #1d387d;
    padding: 10px;
    color: white;
}

.miFooter {
    display: flex;

}

.gallery {
    /*display: grid;
    justify-items: center;
    align-items: center;*/
    padding: 1px;

}

.cards {
    /*border: 1px solid black;*/
    box-shadow: 5px 5px 15px #9c9b9b;
    object-fit: contain;
    margin: 30px;
}

.cards-img {
    /*border: 1px solid black;*/
    padding: 30px;
    text-align: center;
}

.cards-body {
    /*border: 1px solid black;*/
    text-align: center;
}

.description {
    /*border: 1px solid black;*/
    padding: 5px;
}

.cards-btn {
    /*border: 1px solid black;*/
    padding: 5px;
    text-align: center;
}

.btn-details {
    background-color: #3e7af3;
    color: white;
    border-radius: 5px;
    border-style: none;
    height: 30px;
    width: 100px;

}

/*   -----   MediaQueries   -----   */

/*      DISPOSITIVOS TABLET -- Pantallas menos de 576 pixeles       */
@media (min-width: 576px) {
    .wrap-main {
        grid-template-areas:
            "nav nav"
            "aside main"
            "aside main"
            "footer footer";
        grid-template-columns: 1fr 5fr;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*      DISPOSITIVOS DESKTOP -- Pantallas menos de 992 pixeles      */
@media (min-width: 992px) {
    .wrap-main {
        grid-template-rows: 1fr 1fr 8fr 2fr;
        grid-template-areas:
            "nav aside"
            "nav main"
            "nav main"
            "footer main";
        grid-template-columns: 1fr 5fr;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
    }

    .title-menu h4 {
        /*margin-left: 10px;*/
        font-size: xx-small;
    }
}